@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @keyframes liftoff {
    0% {
      transform: translate(0px, 0px) scale(0.6) rotate(0deg);
    }
    50% {
      transform: translate(20px, -20px) scale(0.6) rotate(-5deg);
    }

    100% {
      transform: translate(0px, 0px) scale(0.6) rotate(0deg);
    }
  }
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
  @keyframes floating-reverse {
    0% {
      transform: translate(0, 30px);
    }
    50% {
      transform: translate(0, 0px);
    }
    100% {
      transform: translate(0, 30px);
    }
  }
  @keyframes twinkle {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(0.995);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
